# Neon PostgreSQL Connection String
# Obtain this from your Neon Console (https://console.neon.tech)
# Format: postgresql://[user]:[password]@[endpoint].neon.tech/[dbname]?sslmode=require
DATABASE_URL=postgresql://user:password@ep-sample-123456.us-east-2.aws.neon.tech/neondb?sslmode=require

# Alternatively Vercel Postgres URL:
POSTGRES_URL=postgresql://user:password@ep-sample-123456.us-east-2.aws.neon.tech/neondb?sslmode=require
